.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar .logo a {
    margin: 0px;
    display: flex;
    align-items: center;
}

.navbar a {
    color: #F9F9F9;
    text-decoration: none;
    margin: 0 28px;
    font-size: 18px;
}

.navbar a:hover {
    text-decoration: underline;
}

.logo {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}